version: "3.9"
services:
  ms-sql-server:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: Password1234
      MSSQL_PID: Express
    ports:  
      - 1433:1433
  #aspnet-web:
  #  depends_on:
  #    - ms-sql-server
  #  build:
  #    context: .
  #    dockerfile: src/Services/BookingService.Aspnet/Dockerfile
  #  ports:
  #    - "8000:5000"
