/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Header-toolbar: mat-grid-tile to be fit left */
.toolbar .mat-grid-tile > .mat-grid-tile-content {
    justify-content: unset !important;
}
