@use '@angular/material' as mat;

.loginbutton {
    margin: 10px;
    border-color: #000000;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
}

.loginbutton:hover {
    background-color: #6487b3;
}
