<div *ngIf="bookings$ | async as bookings" class="centered-card-container">
  <mat-card class="card" *ngFor="let booking of bookings">
    <mat-card-header class="card-header">
      <mat-card-title>{{booking.bookingId}}</mat-card-title>
      <div class="spacer"></div>
      <button mat-raised-button color="warn" (click)="cancelBooking(booking.bookingId)">Cancel</button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div>Parking spot: {{booking.parkingSlotName}}</div>
      <div>From: {{booking.startDate | timestampToDate}}</div>
      <div>To: {{booking.endDate | timestampToDate}}</div>
    </mat-card-content>
  </mat-card>
</div>
