.centered-card-container {
  margin: auto;
  width: 50%;
}

.card {
  width: 50%;
  border-color: #9c9c9c;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  margin: 10px auto 0px auto;
}

.card-header {
  padding: 10px;
  align-items: flex-end;
}

.rounded-border-button {
  border-radius: 10px;
}

