.card {
  border-color: #9c9c9c;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  margin: 10px 0px 0px 10px;
}

.card-header {
  padding: 10px;
  align-items: flex-end;
}

.spacer {
  flex: 1;
}

