.table {
  border-collapse: collapse;
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
    &:first-of-type{
      background-color: #196428;
    }
    &:last-of-type{
      background-color: #196428;
    }
  }
}

.center-text {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.center-button-div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
