<mat-grid-list [cols]="1" [rowHeight]="300" [gutterSize]="'10px'">
  <mat-grid-tile>
    <div>
      <P class="center-text">Get new booking</P>
      <table class="table">
        <thead>
          <tr>
            <th><strong>Start date</strong></th>
            <th><strong>Duration</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <mat-form-field>
                <input matInput [ngxMatDatetimePicker]="startDatePicker"
                  placeholder="Choose a date" [formControl]="startDateControl" [min]="minDate" [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="$any(startDatePicker)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #startDatePicker [color]="'primary'">
                </ngx-mat-datetime-picker>
              </mat-form-field>
            </td>
            <td>
              <ngx-mat-timepicker [(ngModel)]="duration" [stepMinute]="30" [color]="'primary'" [showSpinners]="true">
              </ngx-mat-timepicker>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>
              Date: {{startDateControl.value?.getTime()}}
            </th>
            <th>
              Date: {{duration.toDate().getTime()}}
            </th>
          </tr>
        </tfoot>
      </table>
      <div class="center-button-div">
        <button mat-raised-button color="primary" (click)="tryGetBooking()">Request booking</button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
