.toolbar {
  align-items: center;
  background-color: #196428;
  color: white;
  font-weight: 600;
}

.toolbar-header {
  height: inherit;
}

.toolbar-header div {
  float: left;
}

.toolbar-header-bg-img {
  background-image: url('../../../assets/photos/angular-icon.png');
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: 58px;
  padding: 10px;
}

.toolbar-header-title {
  padding-left: 10px;
  padding-top: 1.2rem;
}

.toolbar-menu > a {
  margin-right: 5px;
}

.toolbar-right-place {
  display: block;
  width: 100%;
  padding-right: 10px;
  text-align: right;
}

.button-default {
  margin: 10px;
  border-color: #000000;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
}

.button-default:hover {
  background-color: #6487b3;
}
